# Virtual Environment
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
dist/
.DS_Store

# Logs
*.log

# Environment variables & secrets
.env
.env.local
.env.*.local

# Firebase cache
.firebase/
